################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Probability/Distributions/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Distributions/v16/.suo
/Probability/.vs/Distributions/v16
